/* Used to override some Bootstrap styling options */
.active-side {
    font-weight: bold;
}

.table td.fit, 
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

.list-header {
    display: inline-block;
}

.float-right {
    float:right;
}

#chart-wrapper {
    display: inline-block;
    position: relative;
    height: 400px;
    width: 100%;
  }

.nav-icon {
    margin-right: 5px;
}

#side-navigation{
    font-size: large;
}