<!-- Generic admin edit form template -->
{% extends 'baseadmin.html' %}

{% block content %}
<div class="row">
  <div class="col-md-9 col-lg-6">
    <h2 class="join-message">Edit {{config}}:</h2>
    <form method="POST" id="location_form">
      <!-- Uses the general form template -->
      {% include "admin/_admin_form.html" %}

      <div class="edit-btn-area">
        <button class="btn btn-sm btn-success">Edit this {{config}}</button>
        <button id="back" class="btn btn-sm btn-outline-secondary">Cancel</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}