{% extends 'baseadmin.html' %}

{% block admincontent %}

  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <h2 class="join-message">Edit {{config}}:</h2>
      <form method="POST" id="location_form">
        {% include "admin/_admin_form.html" %}

        <div class="edit-btn-area">
          <button class="btn btn-success">Edit this {{config}}</button>
          <a href="/admin/{{config}}" class="btn btn-outline-secondary">Cancel</a>
        </div>
      </form>
    </div>
  </div>

{% endblock %}