{% extends 'basedesk.html' %}

{% block content %}
<!-- Ticket details block -->
<div class="container-fluid">
  <h5>Ticket# {{ticket.id}}</h5>
  <div class="row">
    <div class="col">
      <a class="nav-link list-header" href="/desk/ticket/{{ticket.id}}/add-activity">New ticket activity</a>
    </div>
    <div class="col">
      <h6>Activities: <span class="badge badge-info">{{ticket.ticket_activities | length }}</span></h6>
    </div>
    <div class="col">
      <h6>Total time spent: <span class="badge badge-info">{{ticket.ticket_activities | sum(attribute='time_spent') }}
          hrs</span></h6>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h6 class="m-0 font-weight-bold">{{ticket.title}}</h6>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <p class="font-weight-bold"><span class="font-weight-light">Status:</span> {{ticket.status.name}}</p>

          <p class="font-weight-bold"><span class="font-weight-light">Priority:</span> {{ticket.priority.name}}</p>

          <p class="font-weight-bold"><span class="font-weight-light">Type:</span> {{ticket.type.name}}</p>
        </div>
        <div class="col">
          <p class="font-weight-bold"><span class="font-weight-light">Contact:</span> {{ticket.contact.first_name}}</p>

          <p class="font-weight-bold"><span class="font-weight-light">Assignee:</span> {{ticket.user.first_name}}</p>

          <p class="font-weight-bold"><span class="font-weight-light">Configuration:</span>
            {{ticket.configuration.name}}</p>
        </div>
      </div>
      <div class="row">
        <p class="font-weight-normal"><span class="font-weight-light">Notes:</span> {{ticket.notes}}</p>
      </div>
    </div>
    <div class="card-footer text-body-secondary">
      <div class="row">
        <div class="col">
          <p class="font-weight-bold"><span class="font-weight-light">Notification status:</span> {% if
            ticket.notification_sent %} Notified {% else %}
            Not sent!<a href="/desk/resend/{{ticket.id}}">Click to resend</a>{% endif %}</p>
          {{ticket.friendly_date}}
        </div>
        <div class="col">
          <form method="POST" action="/desk/ticket/{{ticket.id}}/delete" class="list-header">
            <button type="submit" formaction="/desk/ticket/{{ticket.id}}/edit" class="btn btn-sm btn-info">Edit</button>
            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>
<!-- Ticket activities list -->
  <div class="container">
    <h5>Ticket activities:</h5>
    {% if ticket.ticket_activities %}
    {% for activity in ticket.ticket_activities | sort(reverse=true, attribute="timestamp") %}
    <div class="card">
      <div class="card-body">
        <div class="row">
          <p class="font-weight-normal"><span class="font-weight-light">Notes:</span> {{activity.notes}}</p>
        </div>
        <div class="row">
          <div class="col">
            <p class="font-weight-bold"><span class="font-weight-light">Time spent:</span> {{activity.time_spent}}</p>
          </div>
          <div class="col">
            <p class="font-weight-bold"><span class="font-weight-light">Assignee:</span> {{activity.user.first_name}}
            </p>
          </div>
        </div>
      </div>
      <div class="card-footer text-body-secondary">
        <div class="row">
          <div class="col">
            <p class="font-weight-bold"><span class="font-weight-light">Notification status:</span> {% if
              ticket.notification_sent %} Notified {% else %}Not sent! <a
                href="/desk/resend-activity/{{activity.id}}">Click to resend</a>{% endif %}</p>
            <p class="font-weight-bold"><span class="font-weight-light">Timestamp:</span> {{activity.friendly_date}}</p>
          </div>
          <div class="col">
            <form method="POST" action="/desk/ticket_activity/{{activity.id}}/delete" class="list-header">
              <a href="/desk/ticket_activity/{{activity.id}}/edit"><i
                  class="fa-regular fa-pen-to-square text-info"></i></a>
              <button type="submit" class="btn btn-link"><i class="fa-solid fa-trash-can text-danger"></i></button>
            </form>
          </div>
        </div>
      </div>
    </div>

    {% endfor %}
    {% else %}
    <h6>No activity for this ticket yet.</h6>
    {% endif %}
  </div>
</div>
{% endblock %}