{% extends 'basedesk.html' %}

{% block deskcontent %}
<div class="container-fluid">
  <h5>Ticket# {{ticket.id}}</h5>
  <div class="row">
    <div class="col">
      <a class="nav-link list-header" href="/desk/ticket/{{ticket.id}}/add-activity">New ticket activity</a>
    </div>
    <div class="col">
      <h6>Activities: <span class="badge badge-light">{{ticket.ticket_activities | length }}</span></h6>

    </div>
    <div class="col">
      <h6>Total time spent: <span class="badge badge-light">{{ticket.ticket_activities | sum(attribute='time_spent') }}</span></h6>

    </div>
    
  </div>
  <div class="card">
   <div class="card-header">
    <h6 class="m-0 font-weight-bold">{{ticket.title}}</h6>
   </div>
          <div class="card-body">
                <div class="row">
                  <div class="col">
                    <p>Status: {{ticket.status.name}}</p>
              
                    <p>Priority: {{ticket.priority.name}}</p>
              
                    <p>Type: {{ticket.type.name}}</p>
                  </div>
                  <div class="col">
                    <p>Contact: {{ticket.contact.first_name}}</p>
              
                    <p>Assignee: {{ticket.user.first_name}}</p>
              
                    <p>Configuration: {{ticket.configuration.name}}</p>
                  </div>
                </div>
                <div class="row">
                  <p>Notes: {{ticket.notes}}</p>
                </div> 
          </div>
          <div class="card-footer text-body-secondary">
            <div class="row">
              <div class="col">
            <p>Notification status: {% if ticket.notification_sent %} Notified {% else %} 
              <a href="/desk/resend/{{ticket.id}}">Click to resend</a>Click to resend {% endif %}</p>
            {{ticket.friendly_date}}
          </div>
          <div class="col">
            <form method="POST" action="/desk/ticket/{{ticket.id}}/delete" class="list-header">
              <a href="/desk/ticket/{{ticket.id}}/edit"><i class="fa-regular fa-pen-to-square text-info"></i></a>
              <button type="submit" class="btn btn-link"><i class="fa-solid fa-trash-can text-danger"></i></button>
            </form>
          </div>
          </div>
          </div>
      </div>
      
  
<h5>Ticket activities:</h5>
{% if ticket.ticket_activities %}
  {% for activity in ticket.ticket_activities %}
  <div class="card">
           <div class="card-body">
                  <div class="row">
                    <p>Notes: {{activity.notes}}</p>
                  </div>
                  <div class="row">
                    <div class="col">
                      <p>Time spent: {{activity.time_spent}}</p>
                    </div>
                    <div class="col">
                      <p>Assignee: {{activity.user.first_name}}</p>
                    </div>
                  </div>

           </div>
           <div class="card-footer text-body-secondary">
            <div class="row">
            <div class="col">
              <p>Notification status: {% if ticket.notification_sent %} Notified {% else %} <a href="/desk/resend-activity/{{activity.id}}">Click to resend</a>Click to resend {% endif %}</p>
              <p>Timestamp: {{activity.friendly_date}}</p>
            </div>
            <div class="col">
              <form method="POST" action="/desk/ticket_activity/{{activity.id}}/delete" class="list-header">
                <a href="/desk/ticket_activity/{{activity.id}}/edit"><i class="fa-regular fa-pen-to-square text-info"></i></a>
                <button type="submit" class="btn btn-link"><i class="fa-solid fa-trash-can text-danger"></i></button>
              </form>
            </div>
           </div>
          </div>
       </div>
  
      
  
 
  
  {% endfor %}
{% else %}
<h6>No activity for this ticket yet.</h6>
{% endif %}
</div>
{% endblock %}