{% extends 'base.html' %}
{% block sidebar %}
<!-- Side bar navigation for admin templates. Extends the base.html-->

<li><a href="/admin/contact" class="nav-link px-0 align-middle"><i
      class="fa-solid fa-address-card text-dark nav-icon"></i><span
      class="ms-1 d-none d-sm-inline text-dark">Contacts</span></a></li>
{% if g.user.is_admin %}
<li class="active_side"></i><a href="/admin/location" class="nav-link px-0 align-middle"><i
      class="fa-solid fa-location-dot text-dark nav-icon"></i><span class="ms-1 d-none d-sm-inline text-dark">
      Locations</span></a></li>
<li><a href="/admin/users" class="nav-link px-0 align-middle"><i class="fa-solid fa-users text-dark nav-icon"></i><span
      class="ms-1 d-none d-sm-inline text-dark">Users</span></a></li>
<li><a href="/admin/priority" class="nav-link px-0 align-middle"><i
      class="fa-solid fa-truck-fast text-dark nav-icon"></i><span class="ms-1 d-none d-sm-inline text-dark">Ticket
      Priority</span></a></li>
<li><a href="/admin/ticket_status" class="nav-link px-0 align-middle"><i
      class="fa-solid fa-circle-check text-dark nav-icon"></i><span class="ms-1 d-none d-sm-inline text-dark">Ticket
      Status</span></a></li>
<li><a href="/admin/ticket_type" class="nav-link px-0 align-middle"><i
      class="fa-regular fa-folder-open text-dark text-dark nav-icon"></i></i><span
      class="ms-1 d-none d-sm-inline text-dark">Ticket Type</span></a></li>
<li><a href="/admin/configuration" class="nav-link px-0 align-middle"><i
      class="fa-solid fa-gears text-dark nav-icon"></i></i><span
      class="ms-1 d-none d-sm-inline text-dark">Configurations</span></a></li>
<li><a href="/admin/conf_status" class="nav-link px-0 align-middle"><i
      class="fa-solid fa-wrench text-dark nav-icon"></i></i><span
      class="ms-1 d-none d-sm-inline text-dark">Configuration Status</span></a></li>
{% endif %}

{% endblock %}