{% extends 'base.html' %}
{% block sidebar %}
<!-- Side bar navigation for service desk templates. Extends the base.html -->
<li>
    <a href="/desk" class="nav-link px-0 align-middle">
        <i class="fa-solid fa-chart-line text-dark nav-icon"></i><span
            class="ms-1 d-none d-sm-inline text-dark">Dashboard</span></a>
</li>
<li>
    <a href="/desk/my_ticket" class="nav-link px-0 align-middle">
        <i class="fa-solid fa-clipboard-list text-dark nav-icon"></i><span class="ms-1 d-none d-sm-inline text-dark">My
            Tickets</span></a>
</li>
<li>
    <a href="/desk/ticket" class="nav-link px-0 align-middle">
        <i class="fa-solid fa-ticket text-dark nav-icon"></i><span
            class="ms-1 d-none d-sm-inline text-dark">Tickets</span></a>
</li>
<li>
    <a href="/admin/contact" class="nav-link px-0 align-middle">
        <i class="fa-solid fa-address-card text-dark nav-icon"></i><span
            class="ms-1 d-none d-sm-inline text-dark">Contacts</span></a>
</li>

{% endblock %}