{% extends 'base.html' %}
{% block content %}
<!-- Side bar navigation -->
<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <a href="/admin" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
          <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
          <span class="fs-5 fw-semibold"></span>
        </a>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="side-navigation">
          <li class="mb-1">
            <button class="btn btn-toggle btn-link align-items-center rounded" data-bs-toggle="collapse"
                data-bs-target="#orders-collapse" aria-expanded="false">
                Settings
            </button>
            <div class="collapse.show">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="/admin/contact" class="link-dark rounded">Contacts</a></li>
                  {% if g.user.is_admin %}
                    <li class="active_side"><a href="/admin/location" class="link-dark rounded">Locations</a></li>
                    <li><a href="/admin/users" class="link-dark rounded">Users</a></li>
                    <li><a href="/admin/priority" class="link-dark rounded">Ticket Priority</a></li>
                    <li><a href="/admin/ticket_status" class="link-dark rounded">Ticket Status</a></li>
                    <li><a href="/admin/ticket_type" class="link-dark rounded">Ticket Type</a></li>
                    <li><a href="/admin/configuration" class="link-dark rounded">Configurations</a></li>
                    <li><a href="/admin/conf_status" class="link-dark rounded">Configuration Status</a></li>
                  {% endif %}
                    
                </ul>
            </div>
          </li>
        </ul>
        <hr>
      </div>
    </div>
    <div class="col py-3 border-left">
      {% block admincontent %}
      {% endblock %}
    </div>
  </div>
</div>
{% endblock %}