{% extends 'baseadmin.html' %}

{% block admincontent %}
<h3>Details for {{user.username}}</h3>
<img src="{{ user.image_url }}" alt="{{ user.username }}" width="100" height="100">
<p>Username: {{user.username}}</p>
<p>First name: {{user.first_name}}</p>
<p>Last name: {{user.last_name}}</p>
<p>Email address: {{user.email}}</p>
<p>Has Admin Permissions: {% if user.is_admin %} Yes {% else %} No {% endif %}</p>
<div class="ml-auto">
<a href="/users/{{user.id}}/edit" class="btn btn-outline-secondary">Edit User</a>
            <form method="POST" action="/users/{{user.id}}/delete" class="form-inline">
              <button class="btn btn-outline-danger ml-2">Delete User</button>
            </form>
</div>
{% endblock %}