{% extends 'baseadmin.html' %}

{% block admincontent %}

  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <h2 class="join-message">Edit User:</h2>
      <form method="POST" id="user_form">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' and field.name != 'password' %}
        <div class="form-group">
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{field.label(class="col-sm-2 col-form-label")}}
          {{ field(placeholder=field.label.text, class="form-control") }}
        </div>
        {% endfor %}

        <div class="edit-btn-area">
          <button class="btn btn-success">Edit this user!</button>
          <a href="/users/{{ user_id }}" class="btn btn-outline-secondary">Cancel</a>
        </div>
      </form>
    </div>
  </div>

{% endblock %}