<!-- User signup form -->
{% extends 'baseadmin.html' %}

{% block content %}

<div class="row">
  <div class="col-md-9 col-lg-6">
    <h2 class="join-message">Create new user:</h2>
    <form method="POST" id="user_form" enctype="multipart/form-data">
      {{ form.hidden_tag() }}

      {% for field in form if field.widget.input_type != 'hidden' %}
      <div class="form-group row">
        {{field.label(class="col-sm-4 col-form-label")}}
        <div class="col-sm-8">
          {{ field(placeholder=field.label.text, class="form-control") }}
          {% for error in field.errors %}
          <span class="text-danger">{{ error }}</span>
          {% endfor %}
        </div>

      </div>
      {% endfor %}


      <button class="btn btn-info btn-sm">Create user</button>
    </form>

  </div>
</div>

{% endblock %}